@using Microsoft.AspNetCore.Http
@section Scripts {
    <script src="~/lib/angular/angular.js"></script>
    <script src="~/js/ViewThread.js"></script>
    <script src="~/js/LoginController.js"></script>
}

<div id="App2" ng-controller="LoginController as vm">
    <form class="navbar-form navbar-right" ng-if="!vm.isLoggedIn" ng-submit="vm.LogIn()">
        <div class="form-group">
            <input type="text" ng-model="vm.username" class="form-control" placeholder="Your name goes here...">
        </div>
        <button type="submit" class="btn btn-default" style="width: 80px">Sign In</button>
    </form>
    <form class="navbar-form navbar-right" ng-if="vm.isLoggedIn" ng-submit="vm.LogOut()">
        <div class="form-group">
            <input type="text" class="form-control" disabled="disabled" value="@Context.Session.GetString("username")">
        </div>
        <button type="submit" class="btn btn-default" style="width: 80px">Sign Out</button>
    </form>
</div>
