@model twinder.Models.Message

<div>
    <div class="row">
        <div class="col-md-offset-4 col-md-4">
            <h1>Twinder</h1>
        </div>
    </div>

    <div>
        <form asp-controller="Home" asp-action="AddMessage" method="post">
            <!-- Input and Submit elements -->
            <input asp-for="Content" />
            <button type="submit">Test</button>
        </form>
    </div>
    @{
        var messages = ((List<twinder.Models.Message>)ViewData["messages"]);
    }
    @foreach (var message in messages)
    {
        <div class="row">
            <div class="col-md-offset-4 col-md-4">
                @message.Content
            </div>
        </div>
    }
</div>
